---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>xing's blog</title>
	</head>
	<body>
		<h1>Have A Nice Day!</h1>
	</body>
</html>
