---
import "../styles/base.css";
---

<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <title>xing's blog</title>
    </head>
    <body>
        <div id="home">
            <!-- 导航栏 -->
            <div id="header">
                <div id="blogTitle">
                    <a id="lnkBlogTitle" href="/">xing's blog</a>
                </div>
                <div id="navigator">
                    <ul id="navList">
                        <li><a class="menu" href="#"></a></li>
                        <li><a class="menu" href="#"></a></li>
                        <li><a class="menu" href="#"></a></li>
                        <li><a class="menu" href="#"></a></li>
                        <li><a class="menu" href="#"></a></li>
                        <li><a class="menu" href="#"></a></li>
                    </ul>
                </div>
            </div>

            <!-- 主要内容区域 -->
            <div id="main">
                <div id="mainContent">
                    <div class="forFlow">
                        <!-- 文章列表 -->
                        <div class="day">
                            <div class="dayTitle">
                                <a href="#"></a>
                            </div>

                            <div class="post">
                                <div class="postTitle">
                                    <a class="postTitle2" href="#"></a>
                                </div>
                                <div class="postCon">
                                    <div class="c_b_p_desc">
                                        <a href="#" class="c_b_p_desc_readmore"></a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="postDesc"></div>
                            </div>

                            <div class="post">
                                <div class="postTitle">
                                    <a class="postTitle2" href="#"></a>
                                </div>
                                <div class="postCon">
                                    <div class="c_b_p_desc">
                                        <a href="#" class="c_b_p_desc_readmore"></a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="postDesc"></div>
                            </div>
                        </div>

                        <div class="day">
                            <div class="dayTitle">
                                <a href="#"></a>
                            </div>

                            <div class="post">
                                <div class="postTitle">
                                    <a class="postTitle2" href="#"></a>
                                </div>
                                <div class="postCon">
                                    <div class="c_b_p_desc">
                                        <a href="#" class="c_b_p_desc_readmore"></a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="postDesc"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div id="sideBar">
                    <div id="sideBarMain">
                        <!-- 个人信息 -->
                        <div id="blog-news">
                            <div id="blog-news-block">
                                <div id="blog-news-avatar">
                                    <div id="blog-news-avatar-img"></div>
                                </div>
                                <div id="profile_block"></div>
                            </div>
                        </div>

                        <!-- 公告 -->
                        <div id="calendar" class="newsItem">
                            <div class="catListTitle"></div>
                            <div id="blog-calendar"></div>
                        </div>

                        <!-- 分类 -->
                        <div id="sideBarCategory" class="newsItem">
                            <div class="catListTitle"></div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>

                        <!-- 最新评论 -->
                        <div id="recent_comments_wrap" class="newsItem">
                            <div class="catListTitle"></div>
                            <ul class="recent_comments">
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>

                        <!-- 阅读排行 -->
                        <div id="sideBarReading" class="newsItem">
                            <div class="catListTitle"></div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>

                        <!-- 推荐排行 -->
                        <div id="sideBarRecommended" class="newsItem">
                            <div class="catListTitle"></div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>

                        <!-- 标签 -->
                        <div id="sideBarTags" class="newsItem">
                            <div class="catListTitle"></div>
                            <div id="tag_cloud">
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                                <a href="#"></a>
                            </div>
                        </div>

                        <!-- 友情链接 -->
                        <div id="blog-sidecolumn" class="newsItem">
                            <div class="catListTitle"></div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

            <!-- 页脚 -->
            <div id="footer"></div>
        </div>
    </body>
</html>
